:root {
    --font-family-body: "Georgia", serif;
    --font-family-header: "Arial", sans-serif;
    --color-text: #242424;
    --primary-color: #FF6701;
    --secondary-color: #56ACFE;
    --third-color: rgb(252, 237, 222);
    --light-gray: #D3D3D3;
  }

  @media only screen and (max-width: 999px) {
    .row {
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .customButton {
      margin: 0;
      padding: 0;
    }
  } 
  
  @media only screen and (min-width: 1000px) {
    .customButton {
      margin: 1rem 1rem 0 1rem;
    }
  }

  body {
    background-color: var(--third-color);
  }

  main {
    font-family: var(--font-family-body);
    color: var(--color-text);
    font-size: 18px;
    line-height: 1.5;
  }
  
  h2 {
    font-family: "adobe-handwriting-frank", sans-serif;
    font-size: 4rem;
    margin-top: 1rem;
  }
  
  h4 {
    font-family: var(--font-family-header);
  }

  .handwriting {
    font-family: "adobe-handwriting-frank", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .customButton {
    /* background-color: #fea82fda; */
    color: var(--color-text);
    font-weight: 600;
    font-family: var(--font-family-header);
    /* border: 2px solid #fea82f;  */
    display: inline-block;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    width: 14rem;
  }

  .customButton:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 1000px) {
    .checkboxes {
      text-align: center;
    }
  }

  .firstcharacter {
    float: left;
    font-size: 55px;
    line-height: 40px;
    padding-top: 8px;
    padding-right: 8px;
  }
  
  main a {
    color: var(--color-text);
  }
  
  main a:hover {
    color: var(--color-text);
  }
  
  main a:visited {
    color: var(--color-text);
  }
  
  footer {
    background-color: #083358
  }
  
  footer a {
    color: #EEEEEE
  }
  
  footer a:hover {
    color: #EEEEEE
  }
  
  footer a:visited {
    color: #EEEEEE
  }

  .byline {
    text-align: center;
    font-size: 1.05rem;
  }
  
  .response {
    margin: 10px 0;
  }
  
  .hidden {
    display: none;
  }

  button {
    /* margin: 0 1em 0 1em; */
    font-family: Arial, Helvetica, sans-serif;
  }

  .hide {
	opacity: 0;
  }

  .highlighter {
	opacity: 0.7;
  }
  
  /* Scrollama Styling */

  #scrolly {
    position: relative;
    padding: 1rem;
  }

  .scrolly-overlay {
    position: relative;
    padding: 0;
    max-width: 35rem;
    margin: 0 auto;
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 0;
    top: 0;
    height: 100vh;
    /* Center everything inside */
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (min-width: 1000px) {
    .step {
      margin: 0 auto 2rem auto;
      margin-bottom: 125rem;
    }

    .step p {
      text-align: center;
      padding: 25rem;
      font-size: 1.25rem;
    }
  }


  /* When it's less than 700 pixels wide, do normal scrollytelling */
  @media only screen and (max-width: 999px) {
    #scrolly.side-by-side {
      display: flex;
    }

    #scrolly.side-by-side > div {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75em;
    }

    #scrolly.side-by-side .scrolly-overlay {
      margin-top: 70vh;
      order: 0;
      /* Change these to adjust sizing options */
      min-width: 15rem;
      max-width: 20rem;
    }

    #scrolly.side-by-side .sticky-thing {
      order: 1;
      flex-grow: 2;
    }

    .step {
      margin-bottom: 100rem;
      /* background-color: #eee;
      background-color: #fff;
      color: black; */
    }

    .step p {
      padding: 10rem;
    }
  }
/* End of Scrollama Styling */